.nuka-page-container{padding-block:16px 0;gap:20px}.nuka-page-indicator,.nuka-page-indicator-active{height:12px;width:12px;background-color:#27ae604d}.nuka-page-indicator-active{background-color:#27ae60!important}
