._MainWrapper_1d7b4_1{position:relative;display:flex;justify-content:center;margin-bottom:30px}._VideoButton_1d7b4_8{position:absolute;max-width:70px;width:100%;cursor:pointer;left:50%;top:50%;transform:translate(-50%,-50%)}
